/* Styles for OTP Verification form */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/h.jpg');
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 70px;
}

.login-links {
    position: absolute;
    top: 10px;
    right: 20px;
}

.login-links a {
    margin-left: 10px;
    text-decoration: none;
    color: #333; /* Dark text color */
    font-size: 14px;
}

h1 {
    text-align: center;
    color: #070505; /* Dark text color */
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to center vertically */
    font-size: 35px; /* Larger font size for title */
    font-family: 'Times New Roman', Times, serif;
}

form {
     /* background-color: #fff; */ 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s; /* Smooth transition for border color */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus

{
    outline: none;
    border-color: #007bff; /* Change border color when focused */
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    /*margin-right: 1px; /* Add some space between radio buttons */
    vertical-align: middle; /* Align radio buttons vertically with their labels */
}

label[for="student"],
label[for="admin"] {
    display: inline-block; /* Make labels display inline */
    margin-right: 30px; /* Add some space between labels */
    vertical-align: middle; /* Align labels vertically with their radio buttons */
    padding: 15px;
    color:rgb(219, 226, 223)
}


.container {
    text-align: center; /* Center align the text */
    font-size: 20px;
}

.container p {
    margin-bottom: 10px; /* Add margin below paragraphs */
    font-size: 20px;
}

.container a {
    color: #0b0b0b; /* Link color */
    text-decoration: none; /* Remove default underline */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.container a:hover {
    text-decoration: underline; /* Underline on hover */
}
