<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/admin-login.css">
    <style>
        /* Paste the CSS styles here */
    </style>
</head>
<body>
    <div class="container">
        <h1>Admin Login</h1>
        <form action="/admin-login" method="post">
            <input type="text" name="username" placeholder="Enter your username" required>
            <input type="tel" name="email" placeholder="Enter your Email" required>
            <button type="submit">Send OTP</button>
        </form>
        <center><p>Create an account <a href="/">Register</a></p></center>
    </div>
</body>
</html>
