<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Course Details</title>

   <!-- Link to your CSS file -->
   <link rel="stylesheet" href="css/course_html.css">
</head>
<body>

<header class="header">
   <!-- Header content goes here -->
</header>

<section class="course-details">
   <div class="container">
      <h1 class="course-title">Complete Python Tutorial</h1>
      <div class="teacher-info">
         <img src="images/pic-8.jpg" alt="">
         <div class="teacher-name">Taught by: Mosh</div>
      </div>
      <div class="course-description">
         <h2>About the Python Course</h2>
         <p>Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming</p>
      </div>
      <div class="about-course">
         <h2>Course Details</h2>
         <ul>
            <li><strong>Duration:</strong> 10 weeks</li>
            <li><strong>Level:</strong> Beginner to Intermediate</li>
            <li><strong>Prerequisites:</strong> Basic understanding of application development</li>
            <!-- Add more course details as needed -->
         </ul>
      </div>
      <BR>
      <div class="payment-section">
         <p class="price">₹10000</p>
         <button class="payment-button" onclick="window.location.href = 'payment.html';">Proceed to Payment</button>
      </div>
   </div>
</section>

<footer class="footer">
   <!-- Footer content goes here -->
</footer>

<!-- Link to your JavaScript file -->
<script src="js/script.js"></script>

</body>
</html>
